h1 {
    font-weight: bold;
    text-decoration: silver dotted;
    color: silver;
    padding: 0.2em;
    border: ridge;
    background-color: rgb(0, 0, 0);
}
body {
    color: white;
    font-size: 16px;
    background-color: black;
    
}